body {
    background-color: rgba(255, 255, 255, 0.5); 
    background-size: cover;
    font-family: cursive;
    font-size: 25px;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    background-color: rgba(238, 235, 235, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgb(28, 30, 31); 
}

#category-select{
    font-size: 20px;
}

.h1 {
    margin: 20px;
    text-align: center;
    background-color: rgb(200, 199, 197);
    border-radius: 20px;
    padding: 12px;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 34px;
    text-align: center;
}

.input-section {
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.input-section label {
    text-align: left;
}

.input-section input, 
.input-section select {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.input-section button {
    background-color: rgb(140, 141, 141);
    border-radius: 5px;
    margin: 0 auto;
    justify-content: center;
    grid-column: span 2;
    padding: 10px;
    width: 10vh;
    font-size: 16px;
    border: 2px solid rgb(245, 244, 247);
    cursor: pointer;
}

.expense-list {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

table {
    font-size: 20px;
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgb(19, 10, 10);
    background-color: rgba(158, 162, 149, 0.6);
    height: 20px;
    padding: 10px 30px;
    text-align: center;
}

.total {
    background-color: rgb(164, 160, 163);
    width: 30%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.clearall {
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

.Edit {
    background-color: rgb(242, 233, 194);
    padding: 4px;
    width: 45px;
    border-radius: 5px;
}

.delete-btn {
    background-color: rgb(247, 119, 73);
    padding: 4px;
    width: 50px;
    border-radius: 5px;
}

.clearall button {
    padding: 10px;
    background-color: rgb(248, 161, 161);
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

#add-btn:hover, .clearall button:hover {
    background-color: white;
}

@media (max-width: 600px) {
    .container {
        width: 95%;
    }

    .h1 {
        font-size: 22px;
    }

    .input-section {
        grid-template-columns: 1fr;
    }

    table, th, td {
        font-size: 14px;
        padding: 5px 15px; 
    }

    .total, .clearall {
        width: 90%;
    }
}
